# GitHub
export CLIENT_ID="816792e0b9c43dbdb9be"
export CLIENT_SECRET="3cfbb62b5f0ee5742ebebd7813fe2ad444997eac"
#export ISSUER="https://token.actions.githubusercontent.com"

# Google (GCP)
export GOOGLE_CLIENT_ID="752698538355-18i03cj4cfliae8c51vo9l7qvisva4de.apps.googleusercontent.com"
export GOOGLE_CLIENT_SECRET="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"
export GOOGLE_ISSUER="https://accounts.google.com"

export PORT="9999"
